@charset "UTF-8";
*{
	margin: 0 auto;
	padding: 5px;
}
body{
	width: 100vh;
}
header, footer, section{
	border: 1px solid black;
	margin-top:3px;
	margin-bottom:3px;
}
header, footer{
	text-align: center;
}
section>*:not(#write){
	width:90%;
}
#write{
	display: block;
	margin-left: 90%;
}
table{
	border-collapse: collapse;
	text-align: center;
}
.subject{
	text-align: left;
}
th{
	background-color: rgb(252, 245, 231); 
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	text-decoration: underline;
}